.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.wrapper {
  display: flex; /* Makes the nav items align horizontally */
  gap: 15px; /* Adds space between nav items */
}

.wrapper a {
  color: white; /* Sets the text color */
  text-decoration: none; /* Removes underline from links */
  padding: 10px 15px; /* Adds padding around the links */
  border-radius: 5px; /* Rounds the corners of the links */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.wrapper a:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Light background on hover */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
